%p#notice= notice

%p
  %b Title:
  = @blog.title

= link_to 'Edit', edit_blog_path(@blog)
\|
= link_to 'Back', blogs_path

%p Listing Entries
%table
  %tr
    %th
    %th
  %tr
    %td
    %td

= link_to 'New Entry', new_blog_entry_path(@blog)